<header><!-- header -->
	<div id="headerlogo"><%= image_tag("kookycook.png")%></div>
	<h1><%= link_to "Kooky Cook", '#' %></h1>
	<h2>Your cute and compelling tag line goes here</h2>
</header><!-- end of header -->